header
{
    -unity-font-style: bold;
    font-size: 20px;
}
#preview
{
    height: 300px;
    width: 300px;
    align-self: center;
}

#powerup-info-scroll
{
    flex-grow: 1;
}

#powerup-container
{
    flex-grow: 1;
}

TemplateContainer
{
    flex-grow: 1;
    flex-direction: row;
}
ListView
{
    width: 255px;
    -unity-text-align: middle-center;
}
#powerup-button
{
    height: 30px; 
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}
#powerup-list-box
{
    width: 255px;  
    max-width: 255px;
    flex-grow: 1;
    flex-direction: column;
}
#list-container
{
    width: 255px;
    max-width: 255px;
    flex-grow: 1;
    flex-direction: column;
}